<div class="m-3">
  <h3><%= @restaurant.name %></h3>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <p>Contact us: <%= @restaurant.phone_number %></p>
</div>

<p>Reviews:</p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>: <%= review.rating %>/5 </li>
    <%# FOR PROGRAMMER ONLY! Removes review %>
    <%# <%= link_to "Remove review", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %>
</ul>
<br>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %> <br>
<%# FOR PROGRAMMER ONLY! Updates restaurant %>
<%# <%= link_to "Edit restaurant", edit_restaurant_path %> <br>
<%= link_to "Back to restaurant list", restaurants_path %>
<br>
<br>
<br>
<br>
<%# FOR PROGRAMMERS ONLY! Deletes restaurant %>
<%# <%= link_to "Delete this restaurant", restaurant_path(@restaurant), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this restaurant?" } %>
